In [38]:
import pandas
import csv
import glob
import os
import sklearn

In [30]:
folder = os.path.normpath('C:/Users/daveysa1/Documents/GitHub/Random')
file = 'CSVData.csv'
filepath = os.path.join(folder,file)

In [31]:
print(filepath)

C:\Users\daveysa1\Documents\GitHub\Random\CSVData.csv

instead of straight reading it in with defined column names, read it in, test the contents and then assign column names

In [32]:
# header_names = ['date','amount','description','balance','bank_category']
df = pandas.read_csv(filepath, header=None) #, names=header_names)
df

,0,1,2,3,4
0,04/01/2016,-428.09,TOWN OF BASSENDEAN NetBank BPAY 37036 100005...,-381479.75,Bills & utilities
1,01/01/2016,-1650.31,Debit Interest,-381051.66,Fees & charges
2,31/12/2015,-106.99,KMART MIDLAND WA AU Cash ...,-379401.35,Retail shopping
3,30/12/2015,-40.40,TELSTRA MOBILE NetBank BPAY 7799 4900061609,-379294.36,Bills & utilities
4,29/12/2015,-2.50,Non CBA ATM Withdrawal Fee,-379253.96,Fees & charges
5,29/12/2015,-100.00,Wdl ATM Redi ATM REDIATM MORLEYKIARA 6054 AU,-379251.46,Cash out
6,29/12/2015,-32.12,KIARA IGA 0001 KIARA,-379151.46,Groceries & household
7,21/12/2015,-36.99,Direct Debit 279234 PAYPAL AUSTRALIA J222226CD...,-379119.34,Home & renovation
8,21/12/2015,35.00,Direct Credit 421520 SUSAN JONES,-379082.35,Income
9,19/12/2015,-29.95,SOUND CENTRE MUSIC MORLEY AU,-379117.35,Entertainment
10,18/12/2015,711.45,Direct Credit 252516 ERNST & YOUNG SE 327465,-379087.40,Income
11,17/12/2015,1219.54,Salary ERNST & YOUNG SE 1014558,-379798.85,Income
12,16/12/2015,60.00,Direct Credit 421520 SUSAN JONES,-381018.39,Income
13,15/12/2015,4143.00,Direct Credit 141000 Sam Aircon,-381078.39,Income
14,15/12/2015,-100.00,Wdl ATM CBA ATM GALLERIA 2 WA 613298 AUS,-385221.39,Cash out
15,15/12/2015,-59.24,WOOLWORTHS 4301 STGEORGESTCE WA AU Cash ...,-385121.39,Groceries & household
16,14/12/2015,-500.00,Transfer to other Bank NetBank Sam,-385062.15,Transfer
17,14/12/2015,7657.01,Salary Ernst & Young Se 1014558,-384562.15,Income
18,12/12/2015,-14.99,ABC SHOP MORLEY MORLEY WA,-392219.16,Bills & utilities
19,09/12/2015,-27.57,TELSTRA MOBILE NetBank BPAY 7799 4900061609,-392204.17,Bills & utilities
20,08/12/2015,180.00,Transfer from MINALI GAMAGE CommBank app Santa,-392176.60,Transfer
21,07/12/2015,-455.30,WATER CORPORATION WA NetBank BPAY 8805 9004202110,-392356.60,Bills & utilities
22,02/12/2015,-4143.15,Transfer to CBA A/c NetBank AC deposit 50pc,-391901.30,Transfer
23,02/12/2015,-4.50,TRANSPERTH TICKET BASSENDEAN WA,-387758.15,Auto & transport
24,01/12/2015,-5378.37,Direct Debit 001192 CBA CR CARD PMNT 535318130...,-387753.65,Home & renovation
25,01/12/2015,-110.00,Wdl ATM CBA ATM BASSENDEAN A WA 610001 AUS,-382375.28,Cash out
26,01/12/2015,-1524.26,Debit Interest,-382265.28,Fees & charges
27,30/11/2015,-8845.40,Transfer to xx5531 NetBank,-380741.02,Exclude
28,30/11/2015,39.00,Direct Credit 421520 SUSAN JONES,-371895.62,Income
29,26/11/2015,40.00,"Direct Credit 175029 MILLER,REBECCA Z alix bab...",-371934.62,Income
30,25/11/2015,-228.15,SYNERGY NetBank BPAY 2600 3449130429,-371974.62,Bills & utilities
31,24/11/2015,-50.00,Wdl ATM BWA ATM 92 WILLIAM B1 WA 600158 AUS,-371746.47,Cash out
32,20/11/2015,-16.00,Transfer to other Bank CommBank app Lions chri...,-371696.47,Transfer
33,19/11/2015,40.00,Transfer from CLARE RYAN NetBank Clare Pressie,-371680.47,Transfer
34,19/11/2015,30.00,Direct Credit 128594 Bernadette Dwyer Bernie A...,-371720.47,Income
35,18/11/2015,-110.00,Transfer to CBA A/c CommBank app INV0247,-371750.47,Transfer
36,17/11/2015,-949.99,Transfer to CBA A/c CommBank app INV0242,-371640.47,Transfer
37,17/11/2015,-30.00,Transfer to other Bank CommBank app Dress Char...,-370690.48,Transfer
38,13/11/2015,50.00,Direct Credit 141000 Megan Webb al and rio baby,-370660.48,Income
39,13/11/2015,112.40,Direct Credit 015884 PARENTALLEAVEPAY TP1P4636...,-370710.48,Income

# Telling the difference between account types
Savings accounts are in the form:
date, float, string, float, string
Credit accounts are in the form:
date, float, string, blank, string

In [36]:
df.loc[1,3]
df.axes[1]

Int64Index([0, 1, 2, 3, 4], dtype='int64')

In [37]:
if df.loc[1,3] == '':
    df.columns = ['date', 'transaction_amount', 'description', 'empty', 'banks_transaction_type']
    df['account_type'] = 'Credit' # add a new column, automatically fills down
else:
    df.columns = ['date', 'transaction_amount', 'description', 'balance_after_transaction', 'banks_transaction_type']
    df['account_type'] = 'Savings' # add a new column, automatically fills down

df

,date,transaction_amount,description,balance_after_transaction,banks_transaction_type,account_type
0,04/01/2016,-428.09,TOWN OF BASSENDEAN NetBank BPAY 37036 100005...,-381479.75,Bills & utilities,Savings
1,01/01/2016,-1650.31,Debit Interest,-381051.66,Fees & charges,Savings
2,31/12/2015,-106.99,KMART MIDLAND WA AU Cash ...,-379401.35,Retail shopping,Savings
3,30/12/2015,-40.40,TELSTRA MOBILE NetBank BPAY 7799 4900061609,-379294.36,Bills & utilities,Savings
4,29/12/2015,-2.50,Non CBA ATM Withdrawal Fee,-379253.96,Fees & charges,Savings
5,29/12/2015,-100.00,Wdl ATM Redi ATM REDIATM MORLEYKIARA 6054 AU,-379251.46,Cash out,Savings
6,29/12/2015,-32.12,KIARA IGA 0001 KIARA,-379151.46,Groceries & household,Savings
7,21/12/2015,-36.99,Direct Debit 279234 PAYPAL AUSTRALIA J222226CD...,-379119.34,Home & renovation,Savings
8,21/12/2015,35.00,Direct Credit 421520 SUSAN JONES,-379082.35,Income,Savings
9,19/12/2015,-29.95,SOUND CENTRE MUSIC MORLEY AU,-379117.35,Entertainment,Savings
10,18/12/2015,711.45,Direct Credit 252516 ERNST & YOUNG SE 327465,-379087.40,Income,Savings
11,17/12/2015,1219.54,Salary ERNST & YOUNG SE 1014558,-379798.85,Income,Savings
12,16/12/2015,60.00,Direct Credit 421520 SUSAN JONES,-381018.39,Income,Savings
13,15/12/2015,4143.00,Direct Credit 141000 Sam Aircon,-381078.39,Income,Savings
14,15/12/2015,-100.00,Wdl ATM CBA ATM GALLERIA 2 WA 613298 AUS,-385221.39,Cash out,Savings
15,15/12/2015,-59.24,WOOLWORTHS 4301 STGEORGESTCE WA AU Cash ...,-385121.39,Groceries & household,Savings
16,14/12/2015,-500.00,Transfer to other Bank NetBank Sam,-385062.15,Transfer,Savings
17,14/12/2015,7657.01,Salary Ernst & Young Se 1014558,-384562.15,Income,Savings
18,12/12/2015,-14.99,ABC SHOP MORLEY MORLEY WA,-392219.16,Bills & utilities,Savings
19,09/12/2015,-27.57,TELSTRA MOBILE NetBank BPAY 7799 4900061609,-392204.17,Bills & utilities,Savings
20,08/12/2015,180.00,Transfer from MINALI GAMAGE CommBank app Santa,-392176.60,Transfer,Savings
21,07/12/2015,-455.30,WATER CORPORATION WA NetBank BPAY 8805 9004202110,-392356.60,Bills & utilities,Savings
22,02/12/2015,-4143.15,Transfer to CBA A/c NetBank AC deposit 50pc,-391901.30,Transfer,Savings
23,02/12/2015,-4.50,TRANSPERTH TICKET BASSENDEAN WA,-387758.15,Auto & transport,Savings
24,01/12/2015,-5378.37,Direct Debit 001192 CBA CR CARD PMNT 535318130...,-387753.65,Home & renovation,Savings
25,01/12/2015,-110.00,Wdl ATM CBA ATM BASSENDEAN A WA 610001 AUS,-382375.28,Cash out,Savings
26,01/12/2015,-1524.26,Debit Interest,-382265.28,Fees & charges,Savings
27,30/11/2015,-8845.40,Transfer to xx5531 NetBank,-380741.02,Exclude,Savings
28,30/11/2015,39.00,Direct Credit 421520 SUSAN JONES,-371895.62,Income,Savings
29,26/11/2015,40.00,"Direct Credit 175029 MILLER,REBECCA Z alix bab...",-371934.62,Income,Savings
30,25/11/2015,-228.15,SYNERGY NetBank BPAY 2600 3449130429,-371974.62,Bills & utilities,Savings
31,24/11/2015,-50.00,Wdl ATM BWA ATM 92 WILLIAM B1 WA 600158 AUS,-371746.47,Cash out,Savings
32,20/11/2015,-16.00,Transfer to other Bank CommBank app Lions chri...,-371696.47,Transfer,Savings
33,19/11/2015,40.00,Transfer from CLARE RYAN NetBank Clare Pressie,-371680.47,Transfer,Savings
34,19/11/2015,30.00,Direct Credit 128594 Bernadette Dwyer Bernie A...,-371720.47,Income,Savings
35,18/11/2015,-110.00,Transfer to CBA A/c CommBank app INV0247,-371750.47,Transfer,Savings
36,17/11/2015,-949.99,Transfer to CBA A/c CommBank app INV0242,-371640.47,Transfer,Savings
37,17/11/2015,-30.00,Transfer to other Bank CommBank app Dress Char...,-370690.48,Transfer,Savings
38,13/11/2015,50.00,Direct Credit 141000 Megan Webb al and rio baby,-370660.48,Income,Savings
39,13/11/2015,112.40,Direct Credit 015884 PARENTALLEAVEPAY TP1P4636...,-370710.48,Income,Savings